*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.box2{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
